extends default

block content
    #home
        #background(style=`background: url(${background_image.url}) no-repeat center center fixed`)
        #content
            #main
                br
                br
                h1=center_stage
                #description!=description
            #links
                each link in links
                    a.link(href=link.link_url.url)
                        img.link-image(src=link.link_image.url)
                        p=link.link_text
            #social
                br
                br
                | <a href="https://twitter.com/HipsterSht" class="twitter-follow-button" data-show-count="false">Follow @HipsterSht</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                | <iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="20" width="90" src="https://platform.tumblr.com/v2/follow_button.html?type=follow-blog&amp;tumblelog=hipstersht&amp;color=white"></iframe>
                | <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2FHipsterSht%2F&width=63&height=65&layout=button&size=small&show_faces=false&appId=202999979721369" width="63" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
        var $home = $('#home');
        var $links = $('.link');
        var activeClass = 'link-active';
        $links.hover(function(){
            $home.addClass(activeClass);
        }, function(){
            $home.removeClass(activeClass);
        });